################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/CPP/vcsDemo/Debug
/CPP/vcsDemo/Release
/CPP/Debug
/CPP/Release
/CPP/vcsDemo.pro.user
/SDK
/out
/CSharp/.vs/vcsDemo/v16
/CSharp/apiSdk/obj
/CSharp/vcsDemo/obj
/CSharp/vcsDemo/vcsDemo.csproj.user
/CSharp/vcsSdk/obj
/CSharp/.vs
